/* Landscape phones and smaller */
@media (max-width: 767px) {
    /* Needed for JS Media Query Breakpoints working */
    body:before{
        content:'xs' !important; /* Do not change unless you know what you're doing */
        display: none !important;
    }
/* ------------------------------------
    Slider
------------------------------------- */
    #home-slider .slider-caption{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        background: #000;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
    }
    #home-slider .slick-prev, .slick-next{
        display: none !important;
    }
    #home-slider .slider-caption p{
        font-size: 12px;
        text-shadow: none;
        font-weight: 600;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px){
    /*NAVBAR CUSTOMIZER*/
    .navbar{
        background-color: transparent; /*change if you need background*/
        border-color: transparent;
        border-radius: 0;
        border:none;
        margin-bottom: 0;
    }
    .navbar .navbar-nav > li > a { color: #555; /*change color of navigation*/ }
    .navbar .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: blue; /*change color of Navigation*/
        background-color: transparent;  /*change if you need background*/
    }
    .navbar-default .navbar-nav > .current_page_parent > a,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: red; /*change color of active navigation*/
        background-color: transparent; /*change if you need background*/
    }

} /* use for all devices started from 768px width */

@media (min-width: 768px) and (max-width: 991px) {
    /* Needed for JS Media Query Breakpoints working */
    body:before{
        content:'sm' !important; /* Do not change unless you know what you're doing */
        display: none !important;
    }

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px){

} /* use for all devices started from 992px width */

@media (min-width: 992px) and (max-width: 1199px) {
    /* Needed for JS Media Query Breakpoints working */
    body:before{
        content:'md' !important; /* Do not change unless you know what you're doing */
        display: none !important;
    }

}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    /* Needed for JS Media Query Breakpoints working */
    body:before{
        content:'lg' !important; /* Do not change unless you know what you're doing */
        display: none !important;
    }

}